body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #FFC125;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    background-color: #ffc244;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.burger {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: #555;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button2 {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button2:hover {
    background-color: #45a049;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #363636;
    color: #fff;
    padding: 20px;
    text-align: center;
    transform: translateY(100px)
}
nav {
    background-color: #444;
    padding: 10px;
    transform: translateY(-22px)
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}