<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='zakas.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Замовлення</title>

</head>
<body>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='zakas.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Замовлення</title>

</head>
<body>
    <h1>Оформлення замовлення</h1>

    <nav>
        <ul>
            <li><a href="{{ url_for('food_street') }}">Головна</a></li>
            <li><a href="{{ url_for('menu') }}">Переглянути меню</a></li>


        </ul>
    </nav>


<div class="login">


    <input type="text" class="text" name="username">
     <span>Ім'я</span>

    <br>

    <br>

    <input type="password" class="text" name="password">
    <span>Номер телефону</span>

    <br>

    <br>

    <input type="password" class="text" name="password">
    <span>Адреса</span>






    <button class="signin"><a href="{{ url_for('end', end_id=1) }}" type="submit">Замовити</a></button>


    <hr>
  </form>

</div>



<footer>
    <div class="container">
        <div class="row">






            <div class="col-md-5">
                <h4>Ми в соціальних мережах</h4>
                <ul>
                    <li><a href="https://facebook.com">Facebook</a></li>
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://instagram.com">Instagram</a></li>
                    <li><a href="https://tiktok.com">TikTok</a></li>
                    <li><a href="https://youtube.com">YouTube</a></li>
                </ul>
            </div>




<div class="col-md-4">
                <div/>

            <div class="col-md-7">
                <h4>Графік роботи</h4>
                <p>Пн-Пт: Цілодобово</p>
                <p>Сб-Нд: 8:00 - 2:00</p>
            </div>

                <div class="col-md-5">
                <div/>
                    <div class="col-md-5">
                <div/>
                        <div class="col-md-5">
                <div/>
                            <div class="col-md-5">
                <div/>
                                <div class="col-md-5">
                <div/>
                                    <div class="col-md-5">
                <div/>
                                        <div class="col-md-5">
                <div/>
                                            <div class="col-md-5">
                <div/>
                                                <div class="col-md-5">
                <div/>
                                                    <div class="col-md-5">
                <div/>
                                                        <div class="col-md-5">
                <div/>
                                                            <div class="col-md-5">
                <div/>
                                                                <div class="col-md-5">
                <div/>
                                                                    <div class="col-md-5">
                <div/>
                                                                        <div class="col-md-5">
                <div/>
                                                                            <div class="col-md-5">
                <div/>
            <div class="col-md-5">
                <h4>Контактна інформація</h4>
                <p>Телефон: +380645680475</p>
                <p>Email: info@food_street.com</p>
            </div>










               </div>
        </div>
    </div>
</footer>


</body>
</html>